@font-face {
    font-family: Logo;
    src: url('Fonts/logo_font.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('Fonts/montserrat.ttf');
}

/* Effects */
.glass_bg{
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

/* Elements */

body {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #353535;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    font-family: "Logo", sans-serif;
    font-size: 375%;
}

.header{
    width: 100%;

    position: fixed;
    z-index: 2;

    top: 0;
    left: 0;

    background-color: #212121;

    padding: 10px;
    height: 40px;
    vertical-align: middle;
    display: flex;

    overflow: hidden;
}
.sidebar-btn{
    font-size: 28px;

    margin-left: 10px;
    margin-right: 30px;

    margin-top: auto;
    margin-bottom: auto;
}

.sidebar{
    width: 0;

    position: fixed;
    z-index: 1;

    left: 0;
    margin-top: 50px;
    padding-top: 20px;


    background-color: #212121d7;
    height: 100%;

    gap: 40;
    overflow: hidden;

    transition: 0.5s;
}

.content{
    text-align: center;
    height: 100%;
    overflow-x: hidden;
}
.hero{
    padding-top: 65px;
    padding-bottom: 65px;
    padding-right: 30px;
    padding-left: 30px;
}
.hero h1{
    font-size: 425%;
}
.hero h3{
    font-size: 250%;
}

p {
    font-size: 16px;
}

h3 {
    font-size: 32px;
}

body.homepage {
    background-image: url('https://github.com/gblox-official/GBlox-Website/blob/main/Assets/Banner.png?raw=true');
    background-repeat: repeat-y;
}
body.gamepage{
    background-image: url('https://github.com/gblox-official/GBlox-Website/blob/main/Assets/Banner2.png?raw=true');
    background-repeat: repeat-y;
}

.sidebar a{
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding-left: 15px;
    text-wrap: nowrap;

    text-align: center;
}
.sidebar a:hover {
    font-size: 26px;
    color: rgb(232, 232, 232);
}

a.selected {
    font-weight: 700;
}

div.bg_alpha_black{
    background-color: rgba(0, 0, 0, 0.5);
    align-content: center;
    text-align: center;
}

.grid{
    margin-top: auto;
    margin-left: 15%;
    width: 85%;
    padding: 20px;
    align-content: center;

    
    display: grid;
    gap: 35px;

    grid-template-columns: 25% 25% 25%;
}

.game_card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    border: 2px solid rgb(158, 158, 158);
    border-radius: 10px;
    background-color: rgb(60, 60, 60);

    transition: 0.3s;
}
.game_card img{
    border-radius: 10 10 0 0;
}
.game_card:hover{
    box-shadow: 0 6px 12px 0 rgba(255, 255, 255, 0.3);
    border-color: rgb(227, 117, 117);
}
.card_container{
    text-align: start;
    gap: 2px;
    padding: 2px 16px;
}