@font-face {
    font-family: Logo;
    src: url('Fonts/logo_font.ttf');
}

@font-face {
    font-family: Montserrat;
    src: url('Fonts/montserrat.ttf');
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #353535;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    font-family: "Logo", sans-serif;
    font-size: 375%;
}

.sidebar{
    width: 13%;

    position: fixed;
    z-index: 1;

    top: 0;
    left: 0;

    background-color: #212121;
    padding: 15px;
    height: 100%;

    gap: 40;
}

.content{
    margin-left: 13%;

    text-align: center;
    height: 100hv;
}
.hero{
    padding-top: 65px;
    padding-bottom: 65px;
    padding-right: 30px;
    padding-left: 30px;
}
.hero h1{
    font-size: 425%;
}
.hero h3{
    font-size: 250%;
}

p {
    font-size: 16px;
}

h3 {
    font-size: 32px;
}

body.homepage {
    background-image: url('https://github.com/gblox-official/GBlox-Website/blob/main/Assets/Banner.png?raw=true');
    background-repeat: repeat;
}
body.gamepage{
    background-image: url('https://github.com/gblox-official/GBlox-Website/blob/main/Assets/Banner2.png?raw=true');
    background-repeat: repeat;
}

.sidebar a{
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
.sidebar a:hover {
    font-size: 26px;
    color: rgb(232, 232, 232);
}

a.selected {
    font-weight: 700;
}

.grid{
    margin-left: 13%;
    padding: 20px;

    align-content: center;
    display: grid;
    gap: 35px;

    grid-template-columns: 25% 25% 25%;
}

.game_card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1);
    border: 2px solid rgb(158, 158, 158);
    border-radius: 10px;
    background-color: rgb(60, 60, 60);

    transition: 0.3s;
}
.game_card img{
    border-radius: 10 10 0 0;
}
.game_card:hover{
    box-shadow: 0 6px 12px 0 rgba(255, 255, 255, 0.3);
    border-color: rgb(192, 192, 192);
}
.card_container{
    text-align: start;
    gap: 2px;
    padding: 2px 16px;
}